.my-custom-scrollbar {
    position: relative;
    height: 600px;
    overflow: auto;
    }
.table-wrapper-scroll-y {
display: block;
}
.my-custom-scrollbar thead tr th{
    position: sticky; 
    top: 0;
}

.news_box {
    border:1px solid black;
    margin: 5px;
    padding:5px;
}

.news_container {
    overflow-x: auto;
}

.main_div {
    margin: 50px;
}